.page__header {
  /* margin: 0 auto 0 auto; */
padding-left: 70px;
padding-right: 70px;
}
@media screen and (max-width: 835px) {
  .page__header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 450px) {
  .page__header {
    padding-left: 14px;
    padding-right: 14px;
  }
}
