

.moviesSection {
  width: 100%;
}

.movies {
  width: 90%;
  margin: auto;
}

.movies__elements {
  margin-top: 70px;
}

.movies__buttonElse {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 36px;
  background: #2F2F2F;
  border: none;
border-radius: 6px;

font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

text-align: center;

color: #FFFFFF;
}

.movies__buttonElse:hover  {
  opacity: 0.5;
  cursor: pointer;
  }

@media screen and (max-width: 835px) {
  .movies {
    width: 94%;
  }
}
@media screen and (max-width: 450px) {

.movies__elements {
  margin-top: 40px;
}
}