@import url('../blocks/container/container.css');


.portfolioSection {
  padding-bottom: 125px;
}

.portfolio {
  /* width: 90%;
  margin: auto; */
}

.portfolio__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  color: #8B8B8B;
  margin-bottom: 50px;
  mix-blend-mode: normal;
}

.portfolio__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;
}

.portfolio__linksLine {
  border-bottom: 1px solid #424242;

}

.portfolio__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  /* identical to box height, or 167% */
  
  letter-spacing: -0.04em;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 835px) {
.portfolio__link {
  font-size: 28px;
line-height: 50px;
}
.portfolioSection {
  padding-bottom: 90px;
}
}

@media screen and (max-width: 450px) {
.portfolio__title {
  font-size: 14px;
line-height: 20px;
}
.portfolio__link {
  font-size: 18px;
line-height: 28px;
}
.portfolio__links {
  min-height: 67px;
}
.portfolio_linkImg {
  width: 10px;
  height: 28px;
  
}
.portfolioSection {
  padding-bottom: 70px;
}
}

