.profileSection {
  width: 100%;
}

.profile__title {
  margin-top: 74px;
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.profile__info {
  max-width: 410px;
  width: 80%;

  margin: auto;
  margin-top: 123px;
  margin-bottom: 220px;
}

.profile__infoBlock {
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__infoName {
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
/* identical to box height */

margin-right: 10px;
color: #FFFFFF;

}

.profile__infoText{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
/* identical to box height */
background: inherit;
border: none;
text-align: right;
/* width: 100%; */
flex-grow: 1;
color: #FFFFFF;
}

.profile__infoText:focus {
  outline: none;
}

.profile__infoLine {
  width: 100%;
  background: #424242;
  height: 1px;
}

.profile__editButton {
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
/* identical to box height */
display: block;
margin: auto;
text-align: center;
text-decoration: none;
color: #FFFFFF;
margin-bottom: 16px;
}

.profile__editButton_inactive {
  opacity: 0.5;
  pointer-events: none;
}

.profile__exitButton {
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
/* identical to box height */
text-decoration: none;
display: block;
margin: auto;
text-align: center;
margin-bottom: 40px;
color: #EE3465;
}

@media screen and (max-width: 835px) {
  .profile__title {
    margin-top: 236px;
  }
  .profile__info {
  margin-top: 96px;
margin-bottom: 210px;
  }
}

@media screen and (max-width: 450px) {
.profile__title {
  margin-top: 70px;
}
.profile__info {
  margin-top: 80px;
}
}

