.auth__register-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  color: #8B8B8B;
  /* identical to box height */
  margin-bottom: 30px;
  text-align: center;
  display: block;
  margin: auto;
}


@media screen and (max-width: 450px) {
  .auth__register-text {

font-size: 12px;
line-height: 15px;
margin-bottom: 30px;
margin-left: 7px;
  }
}