.auth__register-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  text-align: center;
  text-decoration: none;
  color: #4285F4;
}

.auth__register-link:focus {
  outline: none;
}

.auth__register-link:hover {
  opacity: 0.6;
  cursor: pointer;
}


@media screen and (max-width: 450px) {
  .auth__register-link {

font-size: 12px;
line-height: 15px;
margin-bottom: 30px;

  }
}