.pageNotFoundSection {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.pageNotFoundNumber {
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 140px;
line-height: 169px;
text-align: center;

color: #FFFFFF;
margin-top: 246px;

}

.pageNotFoundText {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  color: #FFFFFF;
}

.pageNotFoundButton {
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-decoration: none;
text-align: center;
display: block;
color: #4285F4;
border: 0;
background: inherit;
margin-top: auto;
margin-bottom: 60px;
}

@media screen and (max-width: 835px) {
.pageNotFoundNumber {
  margin-top: 408px;
}
.pageNotFoundButton {
  margin-bottom: 222px;
}
}

@media screen and (max-width: 450px) {
  .pageNotFoundNumber {
    margin-top: 329px;
    font-size: 80px;
line-height: 97px;
  }
  .pageNotFoundText {
    font-size: 12px;
line-height: 15px;
  }
  .pageNotFoundButton {
    margin-bottom: 30px;
    margin-top: 284px;
    font-size: 12px;
    line-height: 15px;

  }
  }