.header__navLink {
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */

text-align: right;
text-decoration: none;
color: #FFFFFF;
margin-right: 16px;
}

