
.title {
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */
letter-spacing: -0.04em;
margin-bottom: 23px;
/* margin-top: 110px; */
color: #FFFFFF;
}

@media screen and (max-width: 835px) {
  .title{
    font-size: 18px;
line-height: 22px;


  }
}
