.element__duration {
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
margin-left: auto;
margin-right: auto;
width: 90%;


color: #8B8B8B;
margin-top: 17px;
}