.element__trash {
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
  background-image: url(../../../../images/trashMovie.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 7px;
  height: 7px;
  flex-shrink: 0;
  margin-left: 20px;
  transition: opacity 2s ease;
display: none;
}

.element__trash:focus{
  outline: none;
}
  
.element__trash:hover {
  cursor: pointer;
  opacity: 0.6;
}